<div class="col-md-8 col-md-offset-2 well well-lg" ng-controller="activitiesController">
	<div class="col-sm-1">
		<a ui-sref="newActivity" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-plus-sign"></span> Add new activity</a>
	 </div>
	 <uib-accordion class="col-sm-8 col-sm-offset-1" close-others="oneAtATime">
		<uib-accordion-group heading="{{myActivity.name}}" ng-repeat="myActivity in myActivities">
			<h4>{{myActivity.name}}</h4>
			<div class="row">
				<div class="col-sm-6 col-sm-offset-1">
					<img src="{{myActivity.photo}}" class="img-rounded img-responsive" alt="myActivity Photo" style="width:150px;height:150px">
					<p><span class="label label-primary">Category:</span> {{myActivity.category}}, {{myActivity.subCategory}}</p>
					<p><span class="label label-primary">Location:</span> {{myActivity.country}}, {{myActivity.city}}</p>
					<p><span class="label label-primary">Date:</span> {{myActivity.dateTime}}</p>
					<p><span class="label label-primary">About:</span> {{myActivity.about}}</p>
					<br>
				</div>
				<div class="col-sm-4">
					<button type="button" class="btn btn-info" ng-click="getRequests(myActivity.actId)">See pending requests</button>
					<hr>
					<div uib-collapse="isCollapsed">
						<div uib-collapse="isCollapsed">
							<div class="list-group" ng-repeat="request in activityRequests">
								<p><span class="label label-default">User Name:</span> {{request.requestingUserName}}</p>
								<div class="btn-group">
									<button type="button" ng-disabled = request.accepted class="btn btn-info btn-sm" ng-click="updateRequest(request)">Accept</button>
									<button type="button" ng-disabled = !request.accepted class="btn btn-info btn-sm" ng-click="updateRequest(request)">Decline</button>
								</div>
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="btn-group">
				<button type="button" class="btn btn-info pull-left" ng-click="updateActivity(myActivity)" > Update Activity </button>
				<button type="button" class="btn btn-info pull-left" ng-click="deleteActivity(myActivity)" > Delete Activity <span class="glyphicon glyphicon-trash"></span></button>
			</div>
		</uib-accordion-group>
	 </uib-accordion>
</div>