<div class="col-md-6 col-md-offset-3 well well-lg" ng-controller="registrationController">
	<h2>Sign Up</h2>
	<form name="form" ng-submit="register()" role="form">
		<div class="form-group" ng-class="{ 'has-error': form.firstname.$dirty && form.firstname.$error.required }">
			<label for="username">First name</label>
			<input type="text" name="firstname" id="firstname" class="form-control" ng-model="signUpUser.firstname" required />
			<span ng-show="form.firstname.$dirty && form.firstname.$error.required" class="help-block">First name is required</span>
		</div>
		<div class="form-group" ng-class="{ 'has-error': form.lastname.$dirty && form.lastname.$error.required }">
			<label for="username">Last name</label>
			<input type="text" name="lastname" class="form-control" ng-model="signUpUser.lastname" required />
			<span ng-show="form.lastname.$dirty && form.lastname.$error.required" class="help-block">Last name is required</span>
		</div>
		<div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
			<label for="username">Username</label>
			<input type="text" name="username" class="form-control" ng-model="signUpUser.username" required />
			<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
			<span ng-show="isUserNameTaken" class="help-block">Username is taken</span>
		</div>
		<div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
			<label for="password">Password</label>
			<input type="password" name="password" class="form-control" ng-model="signUpUser.password" required />
			<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
		</div>
		<div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required && form.email.$invalid}">
			<label for="email">Email</label>
			<input type="email" name="email" class="form-control" ng-model="signUpUser.email" required />
			<span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
			<span ng-show="form.email.$dirty && form.email.$invalid" class="help-block">Email is not valid</span>
		</div>
		<div class="form-group" ng-class="{ 'has-error': form.country.$dirty && form.country.$error.required }">
			<label for="country">Country</label>
			<select class="form-control" name="country" ng-model="signUpUser.country" ng-options="x for x in countries" ng-change="getCities(signUpUser.country)" required></select>
			<span ng-show="form.country.$dirty && form.country.$error.required" class="help-block">Country is required</span>
		</div>
		<div class="form-group" ng-class="{ 'has-error': form.country.$dirty && form.country.$error.required }">
			<label for="city">City</label>
			<select class="form-control" id="city" ng-model="signUpUser.city" ng-options="x for x in cities" required></select>
			<span ng-show="form.city.$dirty && form.city.$error.required" class="help-block">City name is required</span>
		</div>
		<div class="form-group">
			<label for="gender">Gender</label>
			<br>
			<label class="radio-inline" for="male"><input type="radio" ng-model="signUpUser.gender" value="M"/>Male</label>
			<label class="radio-inline" for="female"><input type="radio" ng-model="signUpUser.gender" value="F">Female</label>
		</div>
		<div class="form-group">
			<label for="dateofbirth">Date of birth</label>
			<input type="date" name="dateofbirth" class="form-control" ng-model="signUpUser.dateofbirth"/>
		</div>
		<div class="form-group">
			<label for="phone">Phone Number</label>
			<input type="text" name="phone" class="form-control" ng-model="signUpUser.phone"/>
		</div>
		<div class="form-group">
			<label for="photo">Photo</label>
			<input type="file" name="photo" class="form-control" ng-model="signUpUser.photo"/>
		</div>
		<div class="form-group">
			<label for="about">About</label>
			<input type="text" name="about" class="form-control" ng-model="signUpUser.about"/>
		</div>
		<div class="form-actions">
			<button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Register</button>
			<a href="#/" class="btn btn-link">Cancel</a>
			<input type="reset" class="btn btn-default"/>
		</div>
	</form>
</div>